InpFileSyntax*
*~
*swp
verification-notes.md

# ZSoil results files
*.a00
*.aux
*.bak
*.cfg
*.ctr
*.dat
*.dis
*.ech
*.eda
*.ern
*.exc
*.his
*.lay
*.log
*.opt
*.ovl
*.prj
*.r00
*.rcf
*.rex
*.rst
*.s00
*.s01
*.s03
*.s04
*.s15
*.uro
*.v00
*.xof
*.xrn
*.xst
*.xxc
